  .get-started-button {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 6px;
    transition: background-color 0.15s;
  }

  .get-started-button:hover {
    background-color: rgb(101, 62, 159);
  }

  .download-button {
    background-color: rgb(255, 255, 255);
    color: rgb(108, 107, 125);
    border-color: rgb(108, 107, 125);
    border: 1px solid;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: color, 
    background-color 0.2s;
  }

  .download-button:hover {
    background-color: rgba(60, 59, 59, 0.68);
    color: white;
  }